# AVM core team owns key files
.github/policies/ @Azure/avm-core-team-technical
.github/CODEOWNERS @Azure/avm-core-team-technical

* @azure/avm-res-network-firewall-module-owners-tf
* @azure/avm-res-network-firewall-module-contributors-tf